form {
    position: relative;
    /*margin-left: auto;*/
    margin-right: auto;
    align-self: center;
    width: min-content;
    justify-self: center;
    background-color: var(--foreground-black);
    padding: 2%;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
}

input, textarea {
    margin: 5px;
    border-radius: 5px;
    background-color: var(--dark-foreground-black);
    color: var(--primary-blue)
}

.button {
    width: 95%;
}
