<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/registration.css" rel="stylesheet" type="text/css">
    <script>
        const parseJsonErrorsToList = (jsonErrors) => {
            const listElems = jsonErrors.errors.map(err => `<li> ${err.msg} </li>`)
            return `<ul>${listElems.join(" ")}</ul>`
        }

        const urlencodeFormData = (fd) => {
            let s = '';
            function encode(s) {
                return encodeURIComponent(s).replace(/%20/g, '+');
            }
            for (let pair of fd.entries()) {
                if (typeof pair[1] == 'string') {
                    s += (s ? '&' : '') + encode(pair[0]) + '=' + encode(pair[1]);
                }
            }
            return s;
        }

        const checkForPasswordErrors = (e, formElem) => {
            e.preventDefault()
            const formData = urlencodeFormData(new FormData(formElem));
            console.log(formData)
            const xhttp = new XMLHttpRequest();
            const handleResponse = () => {
                const response = xhttp.response;
                const contentType = xhttp.getResponseHeader('content-type')
                if (contentType && contentType.indexOf("application/json") !== -1) {

                    const data = JSON.parse(response)
                    let errorDiv = document.getElementById("errors");
                    errorDiv.innerHTML = parseJsonErrorsToList(data);
                    errorDiv.hidden = false;
                } else {
                    let responseText = response;
                    // if (response === "ok") responseText = `<h3>Your password has been reset</h3>`
                    // else if(response === "not valid!") responseText = `<h3>Not Valid!</h3>`
                        document.getElementById("container").innerHTML = `<h3>${responseText}</h3>`
                }
            }
            xhttp.open("POST", '/password-reset/new-password', true)
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send(formData)
            xhttp.onreadystatechange = handleResponse;


        }

        const redirecting=()=>{
            var delay = 10000;
            window.setTimeout(function(){
                window.location.replace("/login");
            },delay);
            console.log("redirecting is working");
        }

    </script>
</head>
<body>
<header>
    <%- include('../partials/nav', {user}); %>
</header>
<div id="container" class="container">
    <form class="form" id="form" method="post" action="/password-reset/new-password" enctype="application/x-www-form-urlencoded"
          onsubmit="checkForPasswordErrors(event, this)">
        <h3>Password Reset</h3>

        <div class="input-field">
            <input type="password" name="pass" id="pass" placeholder="Enter New Password">
        </div>
        <div class="input-field">
            <input type="password" name="pass2" id="pass2" placeholder="Repeat New Password">
        </div>
        <input type="hidden" name="id" value="<%= id %>">
        <input type="hidden" name="token" value="<%= token %>">
        <input type="submit" class="button" name="Submit" onclick="redirecting()">
    </form>
    <div id="errors" hidden></div>

</div>
</body>
</html>