<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head'); %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/registration.css" rel="stylesheet" type="text/css">
    <script>
        const parseJsonErrorsToList = (jsonErrors) => {
            const listElems = jsonErrors.errors.map(err => `<li> ${err.msg} </li>`)
            return `<ul>${listElems.join(" ")}</ul>`
        }

        const urlencodeFormData = (fd) => {
            let s = '';
            function encode(s) {
                return encodeURIComponent(s).replace(/%20/g, '+');
            }
            for (let pair of fd.entries()) {
                if (typeof pair[1] == 'string') {
                    s += (s ? '&' : '') + encode(pair[0]) + '=' + encode(pair[1]);
                }
            }
            return s;
        }

        const checkForPasswordErrors = (e, formElem) => {
            e.preventDefault()
            const formData = urlencodeFormData(new FormData(formElem));
            console.log(formData)
            const xhttp = new XMLHttpRequest();
            const handleResponse = () => {
                const response = xhttp.response;
                const contentType = xhttp.getResponseHeader('content-type')
                if (contentType && contentType.indexOf("application/json") !== -1) {

                    const data = JSON.parse(response)
                    let errorDiv = document.getElementById("errors");
                    errorDiv.innerHTML = `<a href="/password-reset/new-password/${data.id}/${data.token}">Reset password link</a>`// parseJsonErrorsToList(data);
                    errorDiv.hidden = false;
                } else {
                    document.getElementById("container").innerHTML = `<a href=""></a>`//`<h3>We have sent a password reset link to your email</h3>`
                }
            }
            xhttp.open("POST", '/password-reset/user', true)
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send(formData)
            xhttp.onreadystatechange = handleResponse;


        }
    </script>
</head>
<body>
<header>
    <%- include('../partials/nav', {user}); %>
</header>
<div id="container" class="container">
    <form class="form" id="form" method="post" action="/password-reset/user" enctype="application/x-www-form-urlencoded"
          onsubmit="checkForPasswordErrors(event, this)">
        <h3>Password Reset</h3>

        <div class="input-field">
            <input type="text" name="user" id="user" placeholder="Enter Username">
        </div>
        <input type="submit" class="button" name="Send Password Reset">
    </form>
    <div id="errors" hidden></div>

</div>
</body>
</html>